@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .mybtn {
    padding: 15px;
    line-height: 10px;
    font-size: 15px;
  }
}
